body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(169, 199, 189,0.1);
}