body {
  margin: 0px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 5px;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(169, 199, 189,0.1);
}
.btn-close-custom {
  background-color: gray;
  color: white;
  border: none;
  width: 2rem; /* 設置寬度 */
  height: 2rem; /* 設置高度 */
  border-radius: 50%; /* 設置圓角 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-close-custom:hover {
  background-color: darkgray;
}